$clr-black: rgb(40, 40, 40);
$clr-grey-1: rgb(121, 121, 121); 
$clr-grey-2: rgb(156, 156, 156); 
$clr-grey-3: rgb(227, 227, 227); 
$clr-grey-4: rgb(245, 245, 245);

$clr-red: rgb(210, 43, 43);
$clr-green: rgb(73, 235, 75);
$clr-blue: rgb(0, 63, 223);
$clr-deep-purple: rgb(68, 15, 93);
