$ff-futura: 'futura-pt';
$ff-anon: 'anonymous-pro';

$ff-headings: #{$ff-futura}, sans-serif;
$ff-body: #{$ff-futura}, sans-serif;
$ff-mono: $ff-anon, monospace;

$ff-body-normal: 400;
$ff-body-medium: 500;
$ff-body-semibold: 600;
$ff-body-bold: 700;
