@import 'ms';
@import 'colors';

.the-footer {
  padding: msRem(9) msRem(2) msRem(10);
  > * + * {
    margin-top: msRem(1);
  }
}

.footer-links,
.footer-signed,
.footer-version {
  width: 100%;
  text-align: center;
}

.footer-link {
  margin: 0 msRem(-1);
}

.footer-version {
  font-size: msRem(-2);
  color: $clr-grey-2;
}
