@import 'colors';

.the-footer {
  padding: msrem(9) msrem(2) msrem(10);
  
  > * + * {
    margin-top: msrem(1);
  }
  
  // Light on dark
  .lod & {
    color: white;
  }
}

.footer-links,
.footer-signed,
.footer-version {
  width: 100%;
  text-align: center;
}

.footer-link {
  margin: 0 msrem(-1);
}

.footer-version {
  font-size: msrem(-2);
  color: $clr-grey-2;
  
  .lod & {
    color: white; 
    opacity: .5;
  }
}
