@import 'globals';
@import 'colors';

form {
  .form-success {
    display: none;
    font-size: msrem(2);
    font-weight: $ff-body-semibold;
    p { margin: msrem(2) 0 0; }
  }
  
  &.form--success {
    .form-content {
      display: none;
    }
    
    .form-success {
      display: block;
    }
  }
}

// A form field is a container element that contains the field, label and 
// supporting elements
.form-field {
  position: relative;
  display: block;
  width: 100%;
  
  & + & {
    margin-top: msrem(2);
  }
  
  // For labels within field containers, position them over the top of any
  // succeeding form elements
  > .field-label {
    position: absolute;
    top: 0; left: 0;
    padding: msrem(-1);
  }
}

.field-label {
  font-size: msrem(-1);
  color: $clr-grey-2;
  transition: all 400ms $easeOutCubic;
}

.text-field,
.textarea-field {
  border: none;
  padding: msrem(7) msrem(-1) msrem(-1);
  width: 100%;
  background: $clr-grey-4;
  border-radius: 5px;
  font: 1rem/#{$ms-scale} $ff-body;
  outline: none;
  border: 1px solid $clr-grey-4;
  transition: all 400ms $easeOutCubic;
  
  &:focus {
    border-color: $clr-grey-1;
  }
  
  // Style label on focus (this requires putting the label element AFTER the
  // field element in the HTML)
  &:focus + .field-label {
    color: $clr-blue;
  } 
}

.textarea-field {
  height: msrem(15);
}

// Grow textareas on focus 
.textarea-field.grow {
  // Cheating way to say 'n lines tall'
  height: 16 * (1em * $ms-scale);
  
}
