*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-frame {
  
}

// Layout utility class names

// Use margin autos to center an element
.center {
  margin-left: auto;
  margin-right: auto;
}
