$logo-wh-ratio: .810734463;
$logo-width: 70px;

.logo {
  position: fixed;
  top: 30px;
  right: 30px;
  width: $logo-width;
  height: $logo-width * $logo-wh-ratio;
  background: url('/img/logo.svg') no-repeat;
  background-size: auto 100%;
}
