@import 'easing';

$logo-wh-ratio: .810734463;
$logo-width: 70px;

.logo {
  width: $logo-width;
  height: $logo-width * $logo-wh-ratio;
}

.logo svg {
  display: block;
  width: 100%;
  height: 100%;
  
  path { 
    fill: white; 
    opacity: .6;
    transition: all 300ms $easeOutCubic;
  }
  
  .light-bg & path {
    fill: black;
  }
}

.logo:hover {
  path {
    opacity: 1;
  }
}
