@import 'mq';
@import 'easing';
@import 'colors';

$logo-wh-ratio: .798361063;
$logo-width-m: 80px;
$logo-width-s: 70px;

.logo {
  width: $logo-width-s;
  height: $logo-width-s * $logo-wh-ratio;
  
  @include media(m) {
    width: $logo-width-m;
    height: $logo-width-m * $logo-wh-ratio;
  }
}

.logo svg {
  display: block;
  width: 100%;
  height: 100%;
  
  path { 
    fill: $clr-black; 
    transition: all 300ms $easeOutCubic;
    
    &.logo-circle {
      display: none;
      // opacity: .3;
    }
  }
  
  // Light on dark variation
  .lod & path {
    fill: white;
    
    &.logo-circle { display: none; }
  }
}

.logo:hover {
  path {
    opacity: 1;
    background: linear-gradient(to top, white black);
  }
}
