$bp-small: 320px;
$bp-medium: 720px;
$bp-large: 1024px;
$bp-hd: 1900px;

@function mq($query) {
  @if $query == s {
    @return 'only screen and (min-width: #{$bp-small + 1px})';
  } 
  @if $query == m {
    @return 'only screen and (min-width: #{$bp-medium + 1px})';
  } 
  @if $query == l {
    @return 'only screen and (min-width: #{$bp-large + 1px})';
  } 
  @if $query == hd {
    @return 'only screen and (min-width: #{$bp-hd + 1px})';
  } 
}


@mixin media($scale) {
  $query: mq(l);
  @if $scale == s {
    $query: mq(s);
  }
  @if $scale == m {
    $query: mq(m);
  }
  @if $scale == l {
    $query: mq(l);
  }
  @if $scale == hd {
    $query: mq(hd);
  }
  @media #{$query} {
    @content;
  }
}

%small-pad {
  padding: 0 msrem(1);
  @media #{mq(m)} { 
    padding: 0;
  }
}
