@import 'easing';
@import 'fonts';
@import 'ms';
@import 'mq';

$nav-spacing: msRem(2);

.main-navigation {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: msRem(3);
  width: 100%;
  
  @media #{mq(m)} {
    margin-top: msRem(5);
  }
  
  .logo {
    
    @media #{mq(m)} {
      min-width: 0;
    }
  }
}
