@import 'mq';
@import 'easing';
@import 'fonts';

$clr-nav-bg: #fff8e7;

// Lock scroll of body when nav is active
body.nav-active {
  overflow: hidden;
}

.nav-heading {
  position: relative;
  width: 100%;
  z-index: 1000;
  padding: msrem(2) msrem(2) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  @include media(l) {
    position: sticky;
  }
}

.nav-toggle {
  transition: all 300ms;
  cursor: pointer;
}

.toggle-lines {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: msrem(4);
}

.toggle-line {
  width: 70%;
  height: 2px;
  margin-top: 8px;
  background: $clr-black;
  transition: all $easeOutCubic 200ms;
  
  @include media(m) {
    height: 3px;
  }
  
  &:first-child { margin-top: 0; }
}

.nav-toggle:hover {
  .toggle-line { width: 80%; }
  .toggle-text { opacity: 1; } 
}

.nav-heading--active {
  .toggle-line { width: 10%; }   
  .toggle-text { opacity: 1; }
}

.toggle-text {
  text-align: center;
  font-size: msrem(-4);
  font-weight: $ff-body-medium;
  text-transform: uppercase;
  margin-top: msrem(-4); 
  opacity: .7;
  transition: all 300ms;
}


.nav-menu {
  display: none;
  position: fixed;
  top: 0; left: 0;
  z-index: 900;
  width: 100vw;
  height: 100vh;
  flex-flow: column nowrap;
  background: $clr-nav-bg;
  
  @include media(m) {
    justify-content: center;
    align-items: center;
  }
  
  &--active {
    display: flex;
  }
}

.nav-menu-links,
.nav-menu-secondary {
  width: 100%;
  
  @include media(m) {
    padding: 0;
    max-width: g(3);
  }
}

.nav-menu-links {
}

.nav-menu-link {
  display: block;
  font-size: msrem(3);
  
  @include media(m) {
    font-size: msrem(5);
  }
  
  & + .nav-menu-link { margin-top: #{ms(2)}em; }
  a, a:hover { background: none; }
}

.nav-menu-secondary {
  margin-top: msrem(8);
  font: msrem(-2) $ff-mono;
}

.nav-secondary-item {
  display: block;
  width: 100%;
  
  & + .nav-secondary-item {
    margin-top: msrem(3);
  }
  
  a { color: rgba($clr-black, .8); }
}

.social-link:not(:first-child)::before {
    content: '/';
    display: inline-block;
    margin: 0 #{ms(2)/2}rem;
    color: darken($clr-nav-bg, 40%);
  }
