@import 'fonts';
@import 'mq';

.page-header {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  
  h1 {
    font-size: msrem(3);
    font-weight: $ff-body-bold;
    margin-bottom: msrem(3);
    text-align: center;
    
    @media #{mq(m)} {
      font-size: msrem(6);
      margin-bottom: msrem(5);
    }
  }
}

.page-body {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  padding: 0 10px;
  
  @media screen and (min-width: 1020px) {
    padding: 0;
  }
}
