@import 'mq';
@import 'fonts';

html {
  font: 300 17px/1.5 $ff-body;
  -webkit-font-smoothing: antialiased;
  
  @media #{mq(m)} {
    font-size: 18px;
  }
}

p {
  line-height: 1.4;
  margin: 1.414rem 0;
}
