@import 'ms';

.making-something {
  position: relative;
  display: flex;
  align-items: center;
  padding: msRem(-2) msRem(-1);
  
  &__bg {
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background: #43BB23;
    transform: skewX(-7deg);
  }
  
  &__text {
    position: relative;
    font-size: msRem(2);
    font-style: italic;
    font-weight: 500;
    color: white;
    
    a { color: white; }
  }
}
