@import 'globals';
@import 'colors';

.main-frame {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.books-view {
  background: $clr-black;
  color: white;

  &-head {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 100%;
    margin: msrem(10) 0;
  }
  
  &-title {
    font: $ff-freight-semibold msrem(17) $ff-serif;    
    
    &::after {
      content: '';
      display: block;
      width: auto;
      height: 22px;
      margin-bottom: msrem(3);
      background: url('/img/books/waves-pattern-white.svg') repeat-x top left / 22px auto;
    }
  }

  &-subtitle {
    display: block;
    width: 100%;
    max-width: g(4);
    font: msrem(2) $ff-serif;
  }
}


.books-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.book {
  
  @include media(m) {
    width: 50%;
  }
  
  @include media(l) {
    width: 33%;
  }
  
  &-cover {
    width: 100%;
  }
  
  &-cover img {
    display: block;
    width: 100%;
    height: auto;
  }
}
