@import 'globals';
@import 'colors';

.main-frame {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.books-view {
  background: $clr-black;
  color: white;

  &-head {
    width: 100%;
    margin: msrem(10) 0;
  }
}


.books-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: msrem(5);
  margin: 0 auto;
}

.book {
  
  @include media(m) {
    width: 50%;
  }
  
  @include media(l) {
    width: 33%;
  }
  
  &-cover {
    width: 100%;
  }
  
  &-cover img {
    display: block;
    width: 100%;
    height: auto;
  }
}
