doctype html
html
  include /includes/head
  body.books-view.lod
    include /includes/navigation
    main.main-frame
      header.books-view-head.g6
        h1.books-view-title= title
        each st in subtitle
          p.books-view-subtitle= st
      section.books-list.g6
        each book in books
          .book
            .book-cover #[img(src=book.img alt=`${book.title} cover`)]
    include /includes/footer
