footer.the-footer
  section.footer-links
    a.footer-link(href='/') Front page
    a.footer-link(href='/#work') Work
    a.footer-link(href='/work-together') Enquiries
  section.footer-signed Made by Jason Howmans &copy; 2017
  section.footer-version= `v.${footer.version}`
  
if footer.scripts
  script !{footer.scripts}
