footer.the-footer
  div.footer-text &copy; 
    a(href="https://en.wikipedia.org/wiki/Holocene_calendar" target="_blank") XMMXVII
  div.footer-links
  
  div.footer-social

if footer.scripts
  script !{footer.scripts}
