footer.the-footer
  div.footer-text &copy; 
    a(href="https://en.wikipedia.org/wiki/Holocene_calendar" target="_blank") XMMXVII
  div.footer-links
  
  div.footer-social

//- Configure TypeKit
script(src='https://use.typekit.net/nha0neq.js')
script.
  try{Typekit.load({ async: false });}catch(e){}
if head.scripts
  script !{head.scripts}

if footer.scripts
  script !{footer.scripts}
