head
  //
    
     <3
    Hey there. Thanks for taking the time to look under the hood. If you ever 
    want to geek out about web tech, feel free to email me or join my slack 
    group @ slack.nosaj.io.
  
  if head.title
    title #{head.title} // Jason makes the internet
  else
    title Jason makes the internet
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="og:url" property="og:url" content="https://nosaj.io/")
  meta(name="og:type" property="og:type" content="website")
  meta(name="og:title" property="og:title" content="Jason makes the internet")
  meta(name="og:image" property="og:image" content="http://a.nosaj.io/og-nosaj.png")
  style !{head.stylesheet}
  script(src='https://use.typekit.net/nha0neq.js')
  script.
    try{Typekit.load({ async: true });}catch(e){}
  if head.scripts
    script !{head.scripts}
