header.nav-heading
  .nav-logo
    a(href='/')
      include logo
  .nav-toggle 
    .toggle-lines #[.toggle-line] #[.toggle-line] #[.toggle-line]
    .toggle-text Nav
nav.nav-menu
  ul.nav-menu-links
    li.nav-menu-link
      a(href='/#writing') Writing
    li.nav-menu-link
      a(href='/#work') Work
    li.nav-menu-link
      a(href='/work-together') Enquiries
  ul.nav-menu-secondary
    li.nav-secondary-item 
      span.social-link #[a(href='https://twitter.com/__nosaj' target='_blank') Twitter]
      span.social-link #[a(href='https://github.com/nosajio' target='_blank') GitHub]
      span.social-link #[a(href='https://gitlab.com/nosaj' target='_blank') GitLab]
