header.nav-heading
  .nav-logo
    a(href='/')
      include logo
  ul.nav-menu-links
    li.nav-menu-link
      a(href='/#writing') Writing
    li.nav-menu-link
      a(href='/#work') Work
    //- li.nav-menu-link
    //-   a(href='/books') Books
    li.nav-menu-link
      a(href='/work-together') Enquiries