header.nav-heading
  .nav-logo
    a(href='/')
      include logo
  .nav-toggle 
    .toggle-lines #[.toggle-line] #[.toggle-line] #[.toggle-line]
    .toggle-text Nav
nav.nav-menu
  ul.nav-menu-links
    li.nav-menu-link
      a(href='/#writing') Writing
    li.nav-menu-link
      a(href='/#work') Work
