// Utils
@import 'links';
@import 'easing';
@import 'shadows';
// Styling
@import 'globals';
@import 'button';
@import 'keyframes';

$clr-landing-border: #F3F3F3;
$front-border-l: msrem(2);

.nav-heading {
  @include media(m) {
    top: $front-border-l;
    left: $front-border-l;
  }
}

a {
  display: inline;
  color: $clr-black;
  // The underline
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 50%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 2px .14em;
  background-position: 0 1.1em;
  
  &:hover {
    color: $clr-blue;
    background-image: linear-gradient(to bottom, $clr-blue 50%, transparent 50%);
  }
}

.front-view {
  background: $clr-landing-border;
  color: $clr-black;
  
  @include media(m) {
    padding: $front-border-l;
  }
}

.front-section {
  padding-left: msrem(-1);
  padding-right: msrem(-1);
  
  & + & {
    margin-top: msrem(13);
  }
  
  @include media(m) {
    padding: 0;
  }
}

.front-heading {
  margin-bottom: msrem(3);
  font-size: 1rem;
  font-style: oblique;
  font-weight: $ff-body-bold;
  text-transform: uppercase;
  color: $clr-black;
}

.main-frame {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: white;
}


// Intro section
.front-intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: msrem(10);
  width: 100%;
  
  @include media(m) {
    flex-flow: row;
    margin-top: msrem(19);
  }
  
  &-opener {
    position: relative;
    padding-bottom: msrem(13);
    
    // The black divider as pseudo element
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background: repeat-y url('/img/front-noise-divider.png') left / 131px 4px;
      width: 100%;
      max-width: g(1);
      height: 4px;
    }
  }
  
  &-title {
    font-size: msrem(4);
    font-weight: $ff-body-normal;
  }
  
  &-secondary {
    display: flex;
    flex-direction: column;
    margin-top: msrem(6);
    
    @include media(m) {
      flex-flow: row nowrap;
    }
  }
  
  .intro-secondary {
    width: 100%;
    
    @include media(m) {
      
    }
    
    & + .intro-secondary {
      margin-top: $g-margin;
      
      @include media(m) {
        margin-top: 0;
        margin-left: $g-margin;
      }
    }
    
    &.available {
      font: msrem(-2) $ff-mono;
      margin-top: 2rem; // Compensate for titles
      color: $clr-grey-1;
    }
    
    .available-highlight {
      display: inline;
      background: #DAFFE4;
    }
    
    .available-links {
      display: block;
      margin-top: msrem(-3);
    }
  }
  
  .secondary-heading {
    display: block;
    margin-bottom: msrem(-3);
    font-size: 1rem;
    font-weight: $ff-body-medium;
  }
  
  .secondary-text {
    font: msrem(-2) $ff-mono;
    color: $clr-grey-1;
  }
  
}


// Writing section
.writing-list {
  .writing-post {
    
  }
  
  .writing-post + .writing-post {
    margin-top: 1rem;
  }
  
  .writing-post-title {
    
  }
  
  .writing-post-date {
    display: inline-block;
    margin-left: msrem(1);
    font: msrem(-3) $ff-mono;
    text-transform: uppercase;
    color: $clr-grey-2;
  }
}

// Work section
.front-work {
  
}

.front-work-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  @include media(m) {
    justify-content: space-around;
  }
  
  @include media(l) {
    justify-content: space-between;
  }
}

a.front-project {
  background: none;
}

.front-project {
  margin-bottom: m(1);
  overflow: hidden;
  
  // Responsive behaviour
  @media screen and (max-width: $bp-medium) {
    width: 80%;
  }
  &.mq-shrink-on-small {
    max-height: 170px;
    @include media(m) { max-height: 100%; }
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  //  Fix the size of an image, so parent resizing has no effect (make sure all 
  //  important detail is on the left to avoid clipping)
  &.imgfixed img {
    @for $i from 1 through $g-columns {
      .g#{$i} & {
        min-width: g($i);
      }
    }
  }
}
