// Utils
@import 'links';
@import 'easing';
// Styling
@import 'globals';
@import 'button';
@import 'keyframes';

$clr-landing-bg: rgb(245, 245, 245);

a {
  display: inline;
  color: $clr-black;
  // The underline
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 50%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 2px .14em;
  background-position: 0 1.1em;
  
  &:hover {
    color: $clr-blue;
    background-image: linear-gradient(to bottom, $clr-blue 50%, transparent 50%);
  }
}

.front-view {
  background: $clr-landing-bg;
  color: $clr-black;
}

.front-section {
  padding-left: msRem(-1);
  padding-right: msRem(-1);
  
  & + & {
    margin-top: msRem(23);
  }
  
  @include media(m) {
    padding: 0;
  }
}

.front-heading {
  margin-bottom: msRem(10);
  font-size: msRem(6);
  font-weight: $ff-body-semibold;
  font-style: italic;
  color: $clr-blue;
}

.main-frame {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

// Intro section
.front-intro {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 80vh;
  
  &-title {
    font-size: msRem(4);
    font-weight: $ff-body-semibold;
  }
  
  &-actions {
    margin-top: msRem(6);
  }
}

// Writing section
.front-writing {
}

.writing-posts-list {
}

.writing-post {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
  
  @include media(m) {
    flex-flow: row nowrap;
    align-items: center;
  }
  
  & + & {
    margin-top: msRem(1);
  }
  
  a {
  }
  
  &-title {
    display: block;
    font-size: msRem(2);
    font-weight: $ff-body-medium;
  }
  
  &-date {
    display: block;
    width: 100%;
    text-align: left;
    color: $clr-grey-2;
    font-size: msRem(-3);
    text-transform: uppercase;
    
    @include media(m) {
      text-align: right;
      width: $g-column;
      margin-right: $g-margin;
    }
  }
}

// Work section
.project {
  & + & {
    margin-top: msRem(13);
  }
  
  &-images {
    width: 100%;
    margin-bottom: msRem(9);
    display: flex;
    flex-flow: row wrap;
    
    @include media(m) {
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
  
  &-image {
    display: block;
    background-size: cover;
    background-position: center;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.05);
    border-radius: 9px;
    margin: msRem(-1);
    
    @include media(m) {
      margin: 0;
    }
    
    // This will be used to fix height:width ratios of different device types
    &::after {
      content: "";
      display: block;
      width: 100%;
    }
    
    &--mobile { 
      // Compensate for the margin on all image elements
      max-width: calc(50% - #{ms(-1) * 2}rem); 
      width: 100%; 
      &::after { padding-top: 177.862%; }
    }
    &--desktop { 
      width: calc(100% - #{ms(-1) * 2}rem); ;
      &::after { padding-top: 77.152%; }
    }
    
    @include media(m) {
      &--mobile { width: 20.3416%; max-width: 131px; }
      &--desktop { max-width: 302px; width: 46.8944%; }
    }    
  }
  
  &-title {
    margin-bottom: msRem(-10);
    font-size: 1rem;
    font-weight: $ff-body-medium;
  }
  
  &-url {
    font-size: msRem(-1);
    color: $clr-grey-2;
  }
  
  &-description {
    @include media(m) {
      font-size: msRem(-1);
    }
  }
}
