doctype transitional
html
  head
  body
    .email-body
      each section in sections
        .email-block
          p
            div 
              strong= section.key
            | #{section.val}
