ul.landing-top__actions
  li
    a(href='/work').action-cta See my work
  if available
    li.landing-top__availability 
      span.landing-top__availability-text 
        | For work enquiries 
        | #[a(href='mailto: hi@nosaj.io?subject=Hi').landing-top__availability-email hi@nosaj.io]
