ul.landing-top__actions
  li.landing-top__action
    a(href='/work').action-cta See My Work
  if available
    li.landing-top__action.landing-top__availability 
      a(href='mailto:hi@nosaj.io?Subject=Hello') Email me
