doctype html
html
  include /includes/head
  body.landing-view
    main.main-frame
      section.landing-top
        header.landing-top__header
          h1.design-and-build Design & Build
        div.landing-top__intro
          p= introText
