doctype html
html
  include /includes/head
  body
    main.main-frame.landing-view
      section.landing-top
        header.landing-top__header
          h1 Design & Build
        div.landing-top__intro
          p= introText
