doctype html
html
  include /includes/head
  body.landing-view
    include /includes/logo
    main.main-frame
      section.landing-top
        header.landing-top__header
          h1.design-and-build 
            | Design 
            span.design-and-build__arrow 
              include /../public/img/white-plus.svg
            | Build
        div.landing-top__intro
          each line in introText
            p= line
        if available
          div.landing-top__availability 
            div.landing-top__availability-text For work enquiries
            a(href='mailto: hi@nosaj.io?subject=Hi').landing-top__availability-email hi@nosaj.io
      section.landing-kindness
        include quotes
