@import 'ms';
@import 'fonts';
@import 'globals';

$clr-landing-bg: rgb(88, 91, 101);

.landing-view {
  background: $clr-landing-bg;
  color: white;
}

.landing-top {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 88vh;
  
  &__header {
    width: 100%;
    text-align: center;
  }
  
  &__intro {
    width: 100%;
    max-width: 50%;
    
    p {
      font-size: msRem(2);
      font-weight: 500;
      margin: msRem(2) 0 0;
    }
  }
}

// The DESIGN & BUILD header piece
.design-and-build {
  $clr-design-and-build: lighten( adjust-hue($clr-landing-bg, 180deg), 6%);
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 msRem(6) $ff-headings;
  text-transform: uppercase;
  color: $clr-design-and-build;
  
  &__arrow {
    $arrow-h-w-ratio: 1;
    // $arrow-h-w-ratio: .45902442;
    $arrow-w: ms(4);
    display: inline-block;
    width: #{$arrow-w}rem;
    height: #{$arrow-h-w-ratio * $arrow-w}rem;
    margin: 0 msRem(2);
    
    svg { display: block; width: 100%; height: 100%; }
    // Make the svg the same color as the text
    svg polygon { fill: $clr-design-and-build; }
  }
}
