@import 'mq';
@import 'ms';
@import 'fonts';
@import 'easing';
@import 'globals';

@keyframes zoom-enter {
  from {
    transform: scale(.9);
    opacity: 0;
  }
}

@keyframes fade-enter {
  from { opacity: 0; }
}

$clr-landing-bg: rgb(88, 91, 101);
$clr-secondary: saturate(
  lighten( adjust-hue($clr-landing-bg, 180deg), 4%),
  14%
);

.landing-view {
  background: $clr-landing-bg;
  color: white;
  
  a { 
    color: white;
  }
  a:hover {
    background: darken($clr-landing-bg, 10%);
  }
}

.landing-top {
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  
  @media #{mq(m)} {
    align-items: center;
  }
  
  &__header {
    width: 100%;
    text-align: center;
  }
  
  &__intro {
    width: 100%;
    animation: zoom-enter 500ms 300ms 1 both $easeOutCubic;
    
    @media #{mq(m)} {
      max-width: 50%;
    }
    
    p {
      font-weight: 500;
      @media #{mq(m)} {
        font-size: msRem(2);
        margin: msRem(2) 0 0;
      }
    }
  }
  
  &__actions {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    
    @media #{mq(m)} {
      max-width: 50%;
      margin-top: msRem(1);
    }
    
    a { color: lighten($clr-secondary, 15%); }
    
    .action-cta { 
      color: lighten($clr-secondary, 15%);
      background: darken($clr-landing-bg, 10%);
      padding: 8px 15px;
      border-radius: 3px;
      text-decoration: none;
    }
    a:hover {
      background: darken($clr-landing-bg, 20%);
    }
    
    li:nth-child(1n+1) { animation: fade-enter 500ms 1s 1 both $easeOutCubic; }
    li:nth-child(1n+2) { animation: fade-enter 500ms 1.4s 1 both $easeOutCubic; }
    li:nth-child(1n+3) { animation: fade-enter 500ms 1.8s 1 both $easeOutCubic; }
    
    li {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
    
    li + li::before {
      content: '';
      margin: 0 20px;
      display: inline-block;     
      width: 5px;
      height: 5px;
      border-radius: 10px;
      background: $clr-secondary;
    }    
  }
  
  &__availability {
    width: 100%;
    max-width: 50%;
    text-align: left;
    color: lighten($clr-secondary, 8%);
    
    &-text { display: inline-block; }
  }
  
  // The DESIGN & BUILD header piece
  .design-and-build {
    user-select: none;
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 700 msRem(7) $ff-headings;
    text-transform: uppercase;
    color: $clr-secondary;
    
    // Nice and slow
    animation: fade-enter 9s 500ms 1 both $easeOutCubic; 
    
    &__arrow {
      $arrow-h-w-ratio: 1;
      // $arrow-h-w-ratio: .45902442;
      $arrow-w: ms(4);
      display: inline-block;
      width: #{$arrow-w}rem;
      height: #{$arrow-h-w-ratio * $arrow-w}rem;
      margin: 0 msRem(2);
      
      svg { display: block; width: 100%; height: 100%; }
      // Make the svg the same color as the text
      svg polygon { fill: $clr-secondary; }
    }
  }
}

.quotes-horiz {
  display: flex;
  flex-flow: column nowrap;
  margin: msRem(6) 0;
  
  @media #{mq(m)} {
    flex-flow: row nowrap;
    justify-content: space-around; 
  }
  
  &__quote {
    width: 100%;
    
    @media #{mq(m)} {
      width: 30%;
    }
    
    // The quote
    p {
      font-size: msRem(1);
      margin: 0;
    }
    // The human
    cite {
      display: block;
      font-size: .9rem;
      margin-top: 5px;
      color: lighten($clr-landing-bg, 30%);
    }
    cite::before {
      content: '—';
      display: inline-block;
      margin-right: 10px;
    }
  }
}
