@import 'globals';
@import 'ms';
@import 'mq';
@import 'fonts';
@import 'easing';
@import 'keyframes';
@import 'colors';

$clr-work-bg: #4a4a4a;
$height-of-preview-img-desktop: 900px;
$height-of-preview-img-mobile: 700px;

.work-view {
  background: $clr-work-bg;
  color: white;
  
  // Make the logo white
  .logo svg path {
    fill: white;
  }
}

.work-main {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.ad-block,
.work-block {
  width: 100%;
  margin: msRem(2) 0;
  
  @media #{mq(l)} {
    margin: msRem(4) 0;
  }
}

.work-block {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  
  &:first-child {
    padding-top: msRem(2);
  }
      
  @media #{mq(l)} {
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    text-align: left;
  }
  
  &__title {
    display: block;
    width: 100%;
    margin-bottom: msRem(1);
    
    h1 {
      display: inline-block;
      font: 600 msRem(1) $ff-headings;
      letter-spacing: 5px;
      text-transform: uppercase;
      padding-bottom: msRem(-3);
      border-bottom: solid 2px white;
    }
  }
  
  &__preview,
  &__body {
    width: 100%;
    // max-width: 100%;
    @media #{mq(l)} {
      
      // max-width: 600px;
    }
  }
  
  &__preview {
    position: relative;
    margin-bottom: msRem(3);
    
    @media #{mq(l)} {
      margin-top: 0;
      width: 60%;
    }
  }
  
  .preview {
    display: block;
    height: auto;
    max-height: $height-of-preview-img-mobile;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(0,0,0,.2);
    
    @media #{mq(l)} {
      max-height: $height-of-preview-img-desktop;
    }
    
    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }
  
  .preview--desktop {
    animation: fade-in 800ms 500ms 1 both $easeOutCubic;
    
    @media #{mq(l)} {
      margin-left: msRem(3);
    }
  }
  
  .preview--mobile {
    display: none;
    position: absolute;
    left: msRem(2);
    top: $height-of-preview-img-mobile / 3; // 1/2 of the height of the main preview
    max-width: 30%;
    max-height: $height-of-preview-img-mobile / 3 * 2;
    // Calculate max-height based off height variable
    animation: fade-in 800ms 650ms 1 both $easeOutCubic;
    
    @media #{mq(m)} {
      display: block;
    }
    
    @media #{mq(l)} {
      top: $height-of-preview-img-desktop / 3; // 1/2 of the height of the main preview
      left: 0;
      max-height: $height-of-preview-img-desktop / 3 * 2;
    }
  }
  
  &__body {
    width: 100%;
    padding: 0 msRem(2);
    max-width: 500px;
    margin: 0 auto;
    animation: fade-in 900ms 800ms 1 both $easeOutCubic;
    
    p {
      margin: 0;
      font-size: 1rem;
      line-height: 1.6;
    }
    
    h2 {
      margin: msRem(1) 0 1rem;
      font-weight: 600;
    }
    
    @media #{mq(l)} {
      padding-left: msRem(2);
      width: 30%;
      max-width: 400px;
      margin: 0;
    }
  }
  
  &__stack-child {
    display: inline;
    color: lighten($clr-work-bg, 40%);
    
    & + &::before {
      content: '/';
      display: inline;
      margin: 0 5px;
      color: lighten($clr-work-bg, 10%);
    }
  }
  
  .project-url {
    display: inline-block;
    margin-top: msRem(3);
    color: white;
    text-decoration: none;
    border-bottom: 2px solid rgba(255 , 255, 255, .7);
  }
}

@keyframes bounce-in {
  0% { 
    opacity: 0; 
    transform: scale(.5) translateY(80px);
  }
  60% {
    opacity: 1;
    transform: scale(1.15);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes psst {
  from {
    opacity: 0;
    transform: translateY(200px);
  }  
}

// Flip the direction for every other project
.work-block:nth-of-type(even) {
  @media #{mq(l)} {
    flex-direction: row;
  }
  
  .preview--desktop {
    @media #{mq(l)} {
      margin-right: msRem(3);
      margin-left: 0;
    }
  }
  
  .preview--mobile {
    @media #{mq(l)} {
      right: 0; left: auto;
    }
  }
}

.work-block + .work-block {
  position: relative;
  
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -#{msRem(2)}; left: 50%;
    z-index: 500;
    height: 3px;
    width: 100px;
    transform: translateX(-50px);
    background: darken($clr-work-bg, 5%);
    
    @media #{mq(m)} {
      top: -#{msRem(4)};
    }
  }
}

.ad-block {
  display: flex;
  width: 100%;
  margin: msRem(2) 0;
  justify-content: center;
  background: darken($clr-work-bg, 2%);
  padding: 0 msRem(1);

  @media #{mq(m)} {
    margin: msRem(4) 0;
  }
  
  &__inner {
    width: 100%;
    max-width: msRem(11);
  }
  
  p {
    font-size: 1rem;
    text-align: center;
    color: lighten($clr-work-bg, 30%);
  }
  
  a { color: lighten($clr-work-bg, 30%); }
  a:hover { color: $clr-green; }
}
