@import 'globals';
@import 'ms';
@import 'mq';
@import 'fonts';

$clr-work-bg: rgb(28, 25, 33);

.work-view {
  background: $clr-work-bg;
  color: rgb(247, 249, 239);
  
  // Make the logo white
  .logo svg path {
    fill: white;
  }
}

.work-main {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.work-block {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin-top: msRem(3);
  
  @media #{mq(m)} {
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: msRem(9);
  }
  
  &__title {
    width: 100%;
    margin-bottom: msRem(3);
    text-align: center;
    
    @media #{mq(m)} {
      text-align: left;
    }
    
    h1 {
      font: 700 msRem(3) $ff-headings;
    }
  }
  
  &__preview,
  &__body {
    width: 100%;
    max-width: 100%;
    @media #{mq(m)} {
      max-width: 600px;
    }
  }
  
  &__preview {
    background: lighten($clr-work-bg, 2%);
    min-height: 900px;
    // margin-top: 80px;
    margin-bottom: msRem(3);
    
    @media #{mq(m)} {
      margin-bottom: 0;
    }
  }
  
  &__body {
    max-width: 450px;
    
    p {
      margin: 0;
      font-size: msRem(1);
      line-height: 1.6;
    }
  }
  
  .project-url {
    display: inline-block;
    margin-top: msRem(2);
    color: lighten($clr-work-bg, 50%);
    font-size: msRem(1);
    text-decoration: none;
    border-bottom: 1px solid lighten($clr-work-bg, 28%);
  }
}

.work-block:nth-of-type(even) {
  @media #{mq(m)} {
    flex-direction: row-reverse;
  }
}
