@import 'globals';
@import 'ms';
@import 'mq';
@import 'fonts';
@import 'easing';
@import 'keyframes';
@import 'colors';
@import 'page';

// Import the styles for different device types
@import './mobile';

$section-spacing: ms(7);
$section-spacing-rem: #{$section-spacing}rem;

.work-view {
  background: white;
  color: #1c1c1c;
  
  .nav-links a { color: black; }
}

// Add margins to making-something. Compensate for margin-bottom of blocks
.making-something {
  margin: #{ms(6) - $section-spacing}rem 0 msRem(6);
}

.work-heading {
  display: block;
  margin-bottom: msRem(2);
  color: lighten(black, 60%);
  font-size: msRem(2);
  font-style: italic;
  font-weight: 500;
  text-align: center;
}

.work-main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.work-projects,
.work-open-src,
.work-fulltime,
.work-archive {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-bottom: $section-spacing-rem;
}

.project {
  display: flex;
  flex-flow: column nowrap;
  
  @media #{mq(m)} {
    flex-flow: row nowrap;
  }

  @media #{mq(l)} {
    padding: msRem(7) msRem(5);
    align-items: flex-start;
  }
  
  &__title {
    @media #{mq(m)} {
      flex: 0 1 auto;
      width: 100%;
      max-width: 20%;
    }
    
    @media #{mq(l)} {
      max-width: 20%;
    }
    
    h1 {
      font-size: msRem(3);
      font-weight: $ff-body-medium;
      margin-bottom: msRem(3);
      
      @media #{mq(hd)} {
        font-size: msRem(4);
      }
    }
  }
  
  &__turnaround,
  &__stack {
    display: flex;
    text-transform: uppercase;
    font-size: msRem(-1);
    margin-top: msRem(-5);
    font-weight: $ff-body-medium;
    
    @media #{mq(l)} {
      flex-flow: column;
      margin-top: msRem(-2);
    }
    
    strong { 
      display: block; 
      font-weight: $ff-body-bold;
      margin-right: msRem(-2);
    }
    span { display: block; }
  }
  
  &__project-stack {
    
  }
  
  &__project-turnaround {
    
  }
  
  &__image {
    @media #{mq(m)} {
      flex: 1 0 auto;
      width: 100%;
      max-width: 30%;
      margin: 0 msRem(1);
    }
    
    @media #{mq(l)} {
      max-width: 50%;
      margin: 0 msRem(2);
    }
    
    @media #{mq(hd)} {
      margin: 0 msRem(4);
    }
    
    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }
  
  &__body {
    @media #{mq(m)} {
      flex: 0 1 auto;
      width: 100%;
      max-width: 40%;
    }
    
    @media #{mq(l)} {
      max-width: 30%;
    }
    
    p {
      margin: 0;
      line-height: ms(2);
      
      & + p {
        margin-top: msRem(1);
      }
    }
  }
  
  
}

.open-src {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  @media #{mq(m)} {
    justify-content: space-between;
  }
  
  &__item {
    display: block;
    padding-bottom: msRem(2);
    max-width: 200px;
    min-width: 180px;
    text-align: center;
    
    a {
      color: $clr-blue;
      text-decoration: none;
    }
    
    a:hover { color: black; }
  }
  
  &__title {
    font-size: msRem(1);
    font-weight: 500;
  }
  
  &__description {
    display: block;
    margin-top: msRem(-3);
    color: black;
  }
}

.fulltime {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  
  @media #{mq(m)} {
    justify-content: center;
  }
  
  &__item {
    width: 100%;
    min-width: 300px;
    padding-bottom: msRem(1);
    text-align: center;
    
    @media #{mq(m)} {
      max-width: 333px;
    }
  }
  
  &__title,
  &__position,
  &__location,
  &__when {
    display: block;
    margin-top: msRem(-2);
  }
  
  &__title {
    margin-top: 0;
    font-size: msRem(1);
    font-weight: 500;
  }
  
  &__location {
    color: lighten(black, 40%);
    text-transform: uppercase;
    font-size: msRem(-2);
    font-weight: 500;
  }
  
  &__when {
    display: inline-block;
    margin: 0 0 msRem(-1) 0;
    padding: msRem(-8) msRem(-2);
    font-size: msRem(-1);
    background: darken(white, 5%);
    border-radius: 50px;
  }
}

.archive {
  display: grid;
  max-width: 900px;
  margin: 0 auto;
  grid-gap: msRem(1);
  grid-template-columns: 100%;
  
  @media #{mq(m)} {
    grid-template-columns: 50% auto;
  }
  
  &__year {
    display: block;
  }
  
  &__year-heading {
    font-size: msRem(1);
    font-weight: 600;
    margin: msRem(2) 0 msRem(-1);
  }
  
  &__projects {
    
  }
  
  &__project {
    line-height: 1.4;
    margin: msRem(-2) 0;
  }
  
  &__project a {
    color: black;
    text-decoration: none;
    &:hover { color: $clr-blue; }
  }
  
  &__project a &__title {
    border-bottom: 1px solid lighten(black, 50%);
  }
  
  &__title {
    font-weight: 500;
  }
  
  &__owned {
    font-size: .9rem;
    margin-left: msRem(-1);
  }
  
  &__employer {
    font-size: .9rem;
    padding: msRem(-8) msRem(-3);
    margin-right: msRem(-4);
    background: darken(white, 6%);
    color: darken(white, 60%);
    border-radius: 3px;
  }
}
