@import 'globals';
@import 'fonts';
@import 'colors';
@import 'cf';
@import 'ms';
@import 'mq';
@import 'page';

$about-block-spacing: msRem(5);

.making-something {
  margin-bottom: $about-block-spacing;
}

.about-view {
  background: white;
  color: black;
}

.about__portrait {
  img {
    display: block;
    width: 100%;
  }
}

.about__body {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.about__big-open {
  max-width: 800px;
  margin: $about-block-spacing 0;
  text-align: center;
  
  p {
    font-size: msRem(2);
    font-weight: 600;
  }
}

.about__the-bio {
  
  @media #{mq(m)} {
    column-count: 2;
    column-gap: msRem(2);
    max-width: 820px;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.4;
    margin: 0 0 msRem(2) 0;
  }
}

.about__follow-me {
  margin-top: msRem(5);
  font-size: msRem(1);
  
  a {
    color: $clr-blue;
  }
  a:hover { color: black; }
}
