doctype html
html
  include /includes/head
  body.about-view.light-bg
    include /includes/navigation
    main.main-frame.page-body
      header.page-header 
        h1 Bio.
      div.about__portrait
        img(src="http://a.nosaj.io/bio/nosaj-letterbox.png" alt="")
      article.about__body
        div.about__big-open
          each op in bio.opener
            p= op
        include /includes/umakingsummatbruv
        div.about__the-bio
          each p in bio.body
            p= p
        div.about__follow-me
          | You can follow me on #[a(href="https://twitter.com/__nosaj" target="_blank") Twitter] or #[a(href="mailto:hi@nosaj.io") email me]
    include /includes/footer
