@import 'globals';
@import 'mq';
@import 'ms';
@import 'fonts';
@import 'keyframes';
@import 'easing';

$blog-font-size: 1.2rem;
$animationDelay: 300ms;

@keyframes box-in {
  from { opacity: 0; bottom: 100%; right: 100%; }
}

$postColorBg: change-color($postColor, $lightness: 90%);
$postColorDark: change-color($postColor, $lightness: 20%);
$postColorReadable: $postColor;
@if lightness($postColor) > 40% {
  $postColorReadable: change-color($postColor, $lightness: 40%);
}

%readable {
  max-width: 860px;
  width: 100%;
  padding: 0 msRem(-1);
  
  @media screen and (min-width: 865px) {
    margin: 0 auto;
    padding: 0;
  }
}

.main-frame {
  display: flex;
  flex-flow: column nowrap;
  padding-top: msRem(3);
  
  @media #{mq(m)} {
    padding-top: msRem(4);
  }
  
  p a {
    border-bottom: 2px solid $postColorBg;
    color: $postColorReadable;
    text-decoration: none;
    
    &:hover {
      color: black;
      border-color: $postColorReadable;
      background: $postColorBg;
    }
  }
}

.blog-post__title {
  @extend %readable;
  position: relative;
  padding-top: msRem(3);
  margin-bottom: msRem(5);
  
  @media #{mq(m)} {
    padding-top: 0;
  }
  
  h1 {
    font: 700 msRem(3)/1.2 $ff-minion;
    animation: fade-in 500ms #{$animationDelay + 200ms} 1 both $easeOutCubic;
    
    @media #{mq(m)} {
      font-size: msRem(4);
    }
  }
  
  .box {
    display: block;
    position: absolute;
    top: 0; right: 70%;
    bottom: 0; left: 0;
    border-top: 5px solid black;
    animation: box-in 600ms $animationDelay 1 both $easeOutCubic;
    
    @media #{mq(m)} {
      top: -#{msRem(4)}; 
      bottom: 0; left: -#{msRem(4)};
      border-left: 5px solid black;
    }
  }
}

// Subline after title
.blog-post__subline {
  margin-top: msRem(2);
  animation: fade-in 500ms #{$animationDelay + 200ms} 1 both $easeOutCubic;
  
  .subline__item {
    display: inline-block;
    color: $postColorReadable;  
    font: 1rem $ff-mono;
  }
  
  .subline__item + .subline__item {
    margin-left: msRem(2);
  }
}

// The cover
.blog-post__cover {
  position: relative;
  width: 100%;
  margin-bottom: msRem(4);
  overflow: hidden;
  
  &::after {
    content: '';
    display: block;
    padding-top: 40%;
  }
  
  img { 
    position: absolute;
    left: 0;
    width: 100%;
  }
}

// Main body of the post
.blog-post__body {
  // @extend %readable;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  animation: fade-in 700ms #{$animationDelay + 300ms} 1 both $easeOutCubic;
  
  // - Main elements
  
  // All headigns start the same for consistency
  h1, h2, h3, h4 {
    @extend %readable;
    display: block;
    margin: msRem(2) 0;
    font: 700 $blog-font-size $ff-body;
  }
  
  // H1. this guy is special
  h1 {
    font-size: msRem(2);
  }
  
  // Secondary & tertiary headings 
  h2 {
    margin-top: msRem(5);
    font-size: msRem(1);
    text-transform: uppercase;
  }
  
  h3, h4 { font-size: $blog-font-size; margin-bottom: 1rem; }
  
  p {
    @extend %readable;
    font-size: $blog-font-size;
    line-height: 1.5;
    margin: msRem(-1) 0;
  }
  
  code {
    padding: msRem(-5);
    border-radius: 3px;
    font-family: $ff-mono;
    background: $postColorBg;
  }
  
  // Bold opening paragraph
  p.first-child {
    font-weight: 500;
  }
  
  // Big first letter
  p.first-child::first-letter {
    display: inline-block;
    padding: 0 10px 0 0;
    float: left;
    font-weight: 700;
    font-size: 65px;
    line-height: 60px;
    color: $postColorReadable;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  // - Lists
  
  ol, ul {
    @extend %readable;
    display: block;
    margin: msRem(2) 0 0;
    padding: 0 0 0 msRem(4);
    
    li {
      display: list-item;
      font-size: $blog-font-size;
      line-height: 1.5;
    }
    
    li + li {
      margin-top: msRem(-2);
    }
  }
  
  ol {
    // color: $postColorReadable;
    list-style-type: upper-roman;
  }
  
  ul {
    list-style-type: disc; 
    
    li {
      display: list-item;
      margin: 0;
    }
  }
  
  // In-flow images and media
  .image, .video, .embed, .package {
    @extend %readable;
    margin-bottom: msRem(4);
  }
  
  p + .image,
  p + .embed,
  p + .video { margin-top: msRem(4); }
  
  .package {
    background: $postColorBg;
    border-radius: 3px;
    border: 1px solid $postColor;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    padding: msRem(-1);
    text-align: center;
    
    p { margin: 0 0 msRem(-2); }
    
    a { 
      color: black; 
      font-size: 1rem;
    }
    
    .link, .repo {
      display: inline-block;
      margin: msRem(-2);
      padding: msRem(-3) msRem(-2);
      background: linear-gradient(0deg, $postColorDark, lighten($postColorDark, 10%));
      color: white;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .4);
      font-weight: 600;
      text-decoration: none;
      border-radius: 3px;
      
      &:hover {
        background: $postColorDark;
      }
    }
  }
  
  .image {

  }
  
  .image.narrow {
    max-height: 600px;
  }
  
  .image.fill {
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    
    > img {
      display: block;
      width: 100%;
    }
  }
  
  .embed {
    display: flex;
    justify-content: center;
  }
  
  .video {
    
  }
  
  iframe, cite {
    display: block;
    width: 100%;
  }
  
  cite {
    margin-top: msRem(1);
    text-align: right;
    color: #505050;
  }
}

.blog-post__suffix {
  position: relative;
  margin: msRem(5) 0;
  padding: msRem(3) 0;
  color: #323232;
  text-align: center;
  font-size: msRem(1);
  
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    left: 50%;
    width: 50px;
    height: 4px;
    transform: translateX(-25px);
    background: $postColor;
  }
  
  .thanks {
    font-size: 1rem;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin: 0 0 msRem(4) 0;
  }
  
  p {
    display: block;
    padding: 0 15px;
  }
}
