@import 'globals';
@import 'button';
@import 'keyframes';
@import 'easing';

// Various variables
// The blog width is 4 columns of the grid
$blog-content-width: $g-column * 4 + $g-margin * 3;
// Just occupy the margins on either side of the grid
$blog-media-width: $blog-content-width + ($g-margin * 2);
// Extra narrow - quotes are only 2 columns
$blog-quotes-width: ($g-column * 2) + ($g-margin * 3);
// Content widths
$blog-font-size: msrem(1);
$blog-font-size-s: 1rem;
$blog-line-height: 1.45;
// Animations
$animationDelay: 300ms;
// Colors
$clr-blog-bg: white;
$clr-blog-text: $clr-black;

%readable {
  max-width: $blog-content-width;
  width: 100%;
  padding: 0 msrem(-2);
  overflow: hidden;
  
  @media screen and (min-width: $blog-media-width) {
    margin: 0 auto;
    padding: 0;
    overflow: visible;
  }
}

%media {
  max-width: $blog-media-width;
  width: 100%;
  padding: 0 msrem(-2);
  
  @media screen and (min-width: $blog-media-width) {
    margin: 0 auto;
    padding: 0;
  }
}

.blog-view {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: $clr-blog-bg;
  
  // Make the logo use the text color
  .logo svg path { fill: $clr-blog-text; }
  
}

.blog-post {
  // Global links
  a {
    color: $clr-blog-text;
    &:hover { color: $clr-blue; }
  }
}

.main-frame {
  display: flex;
  flex-flow: column nowrap;
  margin-top: msrem(10);
  
  @media #{mq(m)} { margin-top: msrem(16); }
}


// Title block
.blog-post__title {
  @extend %readable;
  margin-bottom: msrem(6);
  
  @media #{mq(m)} { margin-bottom: msrem(9); } 
  
  h1 { font-size: msrem(5); font-weight: $ff-body-semibold; }
}


// Suffix block
.blog-post__suffix {
  @extend %readable;
  font-style: oblique;
  font-size: msrem(2);
  margin-top: msrem(9);
}


// Next post block
.next-post {
  @extend %readable;
  margin: msrem(15) auto;
  
  &__read-next {
    display: block;
    margin-bottom: msrem(-6);
    color: $clr-grey-1;
  }
  
  &__title { font-size: msrem(5); font-weight: $ff-body-semibold; }
}


// Main body of the post
.blog-post__body {
  animation: fade-in 700ms #{$animationDelay} 1 both $easeOutCubic;



  // : Links
  a {  
    &:link { @include underline($clr-blog-text, $clr-blue); color: $clr-blog-text; }
    &:hover, &:focus { color: $clr-blue; }
    &:visited { color: $clr-deep-purple; }
  }



  // :: Headings
  // All headigns start the same for consistency
  h1, h2, h3, h4 {
    @extend %readable;
    display: block;
    margin-top: msrem(9);
    margin-bottom: msrem(1);
    font: $ff-body-bold $blog-font-size $ff-body;
  }
  
  // H1. this guy is special
  h1 { font-size: msrem(4); }
  
  // Secondary & tertiary headings 
  h2 {
    font-size: msrem(1);
    @media #{mq(m)} { font-size: msrem(2); }
  }
  
  h3, h4 { 
    font-size: $blog-font-size; 
    font-weight: $ff-body-medium;
    @media #{mq(m)} { font-size: msrem(1); }
  }
  
  
  
  // :: Body elements
  hr {
    display: block;
    width: 100%;
    height: 15px;
    margin: msrem(9) auto;
    border: none;
    text-align: center;
    font-size: msrem(1);
    
    &::before {
      content: "* * *";
      display: inline-block;
      height: 15px;
      font-weight: $ff-body-medium;
      vertical-align: middle;
    }
  }
  
  p, li {
    @extend %readable;
    font: $ff-freight-normal $blog-font-size-s $ff-serif;
    line-height: $blog-line-height;
    margin-top: msrem(1);
    margin-bottom: msrem(1);
    @media #{mq(m)} { font-size: $blog-font-size; }
  }
  
  sup {
    background: #f2f2f2;
    vertical-align: super;
    padding: msrem(-5);
    font: 700 15px $ff-mono;
  }
  
  code {
    padding: msrem(-15) msrem(-8);
    border-radius: 2px;
    font: msrem(-1) $ff-mono;
    background: $clr-black;
    color: $clr-green;
  }
  
  // Treat the first paragraph
  p.first-child { margin-top: 0; }
  
  // Drop caps
  p.first-child.drop-cap { font-weight: $ff-body-medium; }
  p.first-child.drop-cap::first-letter {
    display: block;
    padding: 0 10px 0 0;
    float: left;
    font-weight: $ff-body-bold;
    font-size: msrem(8);
    line-height: msrem(8);

    @include media(m) {
      font-size: msrem(10);
      line-height: msrem(10);
    }
  }
  
  // Centered text
  p.center { text-align: center; }
  
  p strong { font-weight: $ff-freight-semibold; }
  p em { font-style: italic; }
  
  img { display: block; max-width: 100%; }
  
  
  
  // :: Lists
  ol, ul {
    @extend %readable;
    display: block;
    margin: msrem(3) auto;
    padding: 0 msrem(4);
    
    li {
      display: list-item;
      font-size: $blog-font-size-s;
      line-height: 1.45;
      
      strong { font-weight: $ff-freight-semibold; }
      em { font-weight: $ff-freight-semibold; }
      
      @media #{mq(m)} {
        font-size: $blog-font-size;
      }
    }
    
    li + li { margin-top: msrem(-6); }
  }
  
  ol { list-style-type: upper-roman; }
  
  ul {
    list-style-type: disc; 
    li { display: list-item; margin: 0; }
  }
  
  
  
  // :: Custom elements
  // These are elements that are either generated from the markdown (like blockquotes)
  // or elements specified in the Readme.
  
  // Quotes
  cite { display: block; }
  
  // Regular inline <blockquote>
  blockquote {
    width: 100%;
    max-width: $blog-quotes-width;
    margin: msrem(8) auto;
    padding: 0 msrem(5);
    font-style: oblique;
    
    p { font-size: 1rem; }
    
    cite {
      margin-top: msrem(3);
      color: $clr-grey-1;
      font-size: msrem(-1);
    }
    
    cite a { color: $clr-grey-1; @include underline($clr-grey-1, $clr-blue); }
    cite a:hover { color: $clr-blue; }
    
    @media #{mq(m)} {
      margin: msrem(11) auto;
      padding: 0;
    }
  }

  // Quotets that show before all other content
  .quotes-opener {
    @extend %readable;
    margin-top: 0;
    margin-bottom: msrem(5);
    > blockquote { text-align: center }
    > blockquote + blockquote { margin-top: msrem(4); }
  }
  
  
  // Images, embeds, packages, and boxes
  .image, .video, .embed, 
  .package, .emphasis, .box { 
    @extend %media;
    margin-bottom: msrem(9);
    margin-top: msrem(9);
  }
  
  p + .image, p + .video, p + .embed, 
  p + .package, p + .emphasis, p + .box { margin-top: msrem(9); }
  
  // Boxes
  // Boxes are just container elements with a background color different 
  // to the body. They're used for incidental or optional content.
  .box {
    background: $clr-grey-3;
    padding: msrem(-1);
    
    & > h1, & > h2, & > h3, & > h4 { margin-top: 0; }
    
    .image { @extend %readable; }
    p { font-size: 1rem; }
  }
  
  // Packages
  // Used as a convenient way of sharing links to things, like code repos 
  // or downloads.
  .package {
    border-radius: 3px;
    background: $clr-black;
    color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    padding: msrem(-1);
    text-align: center;
    
    p { margin: 0 0 msrem(-2); font-family: $ff-body; }
    a { color: black; font-size: 1rem; }
    
    .link, .repo {
      @extend .button;
      display: inline-block;
      color: $clr-black;
      font-weight: 600;
      text-decoration: none;
    }
  }
  
  // Images
  .image {
    img { display: block; width: 100%; }
    
    .caption {
      @extend %readable;
      display: block;
      width: 100%;
      margin-top: msrem(2);
      font-size: msrem(-1);
      color: $clr-grey-1;
    }
    
  }
  
  .image.narrow { max-height: 600px; }   
  .image.fill {
    max-width: 100%;
    overflow: hidden;
    padding: 0;
  }
  
  // Embeds
  .embed { display: flex; justify-content: center; }
  
  // Videos
  .video {
    iframe {
      display: block;
      width: 100%;
      max-width: $blog-media-width;
      margin: 0 auto;
    }
  }
}
