doctype html
html
  include /includes/head
  body.blog-view
    include /includes/navigation
    main.main-frame
      article.blog-post
        header.blog-post__title
          h1= post.title
        div.blog-post__body !{post.body}
      if message
        footer.blog-post__suffix 
          p.thanks Thanks for reading
          p !{message}
      if post.next
        section.next-post
          span.next-post__read-next Read next
          h1.next-post__title
            a(href=`/r/${post.next.slug}`)= post.next.title
            
          
  include /includes/footer
