doctype html
html
  include /includes/head
  body.blog-view
    include /includes/navigation
    main.main-frame
      article.blog-post
        header.blog-post__title
          h1= post.title
        
  include /includes/footer
