html
  head
    title Jason makes the internet
    style= stylesheet
  body
    main(class='main-frame landing-view')
      section(class='landing-top')
        header(class='landing-top__header')
          h1 Design & Build
        div(class='landing-top__intro')
          p= introText
