@import 'globals';
@import 'colors';
@import 'forms';
@import 'button';

$clr-busy: $clr-grey-3;
$clr-available: rgb(116, 230, 141);


.hire-me-view {
  background: $clr-grey-4;
}


.main-frame {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: msrem(15);
}


.hire-me-section {
  padding: 0 msrem(2);
  
  @include media(m) {
    padding: 0;
  }
  
  &-head {
    width: 100%;
    text-align: center;
    margin-bottom: msrem(9);
  }
  
  &-head.small {
    margin-bottom: msrem(4);
  }

  &-title {
    font-size: msrem(4);
    margin: 0 auto;
  }
  
  .small &-title {
    font-size: msrem(1);
  }
  
  & + & {
    margin-top: msrem(17);
  }
}


.introduction {
  &-title {
    font-size: msrem(5);
    font-weight: $ff-body-normal;
    text-align: center;
  }
}


.availability-chart {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  border-radius: 5px;
  
  &-month {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    height: msrem(15);
    width: 100%;
    
    @include media(m) {
      min-width: 140px;
      max-width: 16.66%;
    }
  }
  
  &-month--available {
    background: $clr-available;
  }
  
  &-month--busy {
    background: $clr-busy;
    color: $clr-grey-1;
  }
  
  &-month-name {
    font-size: msrem(1);
    font-weight: $ff-body-medium;
  }
  
  &-month-status {
    margin-top: msrem(-9);
    font-size: msrem(-3);
    text-transform: uppercase;
  }
  
  .availability-subtitle {
    font-size: msrem(-1);
    color: $clr-grey-1;
    width: 100%;
    margin-top: msrem(-2);
    text-align: center;
  }
}


.logos {
  
  .hire-me-section-head { margin: msrem(9) auto 0; }
  
  &-container {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  &-logo {
    display: flex;
    align-items: center;
    width: 50%;
    max-width: 1450px;
    min-width: 180px;
    padding: msrem(3);
    text-align: center;
    // background: $clr-grey-3;
    
    @include media(m) {
      width: 33.33%;
      max-width: 300px;
    }
    @include media(l) {
      width: 25%;
    }
  }
  
  &-logo img {
    display: block;
    width: 100%;
  }
}


.hire-me-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  flex: 1 1 auto;
  width: 100%;
  padding: msrem(13) msrem(8);
  border: 10px $clr-grey-4 solid;
  background: #ffffff;
  
  @include media(m) {
    padding-left: msrem(5);
    padding-right: msrem(5);
    flex-flow: row nowrap;
    border: 50px $clr-grey-4 solid;
  }
  
  &-text,
  &-main {
    width: 100%;
    
    @include media(m) {
      max-width: 50%;
    }
    @include media(l) {
      max-width: 33.33%;
    }
    
  }
  
  &-text {
  }
  
  &-title {
    font-size: msrem(4);
  }
  
  &-main {
    margin-top: msrem(9);
    
    @include media(m) {
      padding: 0 0 0 msrem(6);
      margin: 0 0 0 msrem(6);
      
    }
  }
}
